html {
    background-color: chartreuse;
    text-align: center;
}
img {
    width: 700px;
    height: 700px;
}
button {
    width: 100px;
    height: 100px;
     border-width: 0px;
}
h1 {
    font-family: 'Redressed', cursive;
}
ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    font-size: 150%;
}
il {
    display: inline;
    font-size: 150%;
}